/*FONTS*/
@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url("./assets/fonts/AeonikTRIAL-Light.otf");
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url("./assets/fonts/AeonikTRIAL-Regular.otf");
}
@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url("./assets/fonts/AeonikTRIAL-Bold.otf");
}

/*ROOT VARIABLES (COLOR, SPACING, RADIUS SYSTEM)*/
:root {
  --pri: #f7ebaf;
  --sec: #f8e4af;
  --tri1: #ff9644;
  --tri2: #842a3b;

  --green: rgb(3, 170, 3);
  --white: whitesmoke;
  --red: red;
  --blue: #00b7ff;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2.5rem;
  --space-xl: 4rem;

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
}

/*GLOBAL RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  height: auto;
  color: var(--white);
  min-height: 100dvh;
  background-color: var(--tri2);
}

/*BASE LAYOUT STRUCTURE*/
main#app {
  height: 100dvh;
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
}

section {
  padding: var(--space-md) var(--space-lg);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  transition: all 0.2s ease;
}

h1 {
  font-size: clamp(1.4rem, 2vw, 2.2rem);
}

h2 {
  font-size: clamp(1.2rem, 1.8vw, 1.8rem);
}

p,
input,
textarea,
button {
  font-size: clamp(0.9rem, 1vw, 1rem);
}

/*NAVIGATION*/
header.app-header {
  width: 100%;
  height: 65px;
  padding: 0 var(--space-sm);
  max-width: 1800px;
  margin: 0 auto;
}

nav,
.app-nav {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 20px;
  align-items: center;
  padding: 0 var(--space-sm);
  justify-content: space-between;
}

nav h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--pri);
  margin-top: 4px;
}

.nav-left {
  position: relative;
  display: flex;
  gap: 10px;
}

.nav-left #menu-btn {
  color: var(--white);
  border: none;
  font-size: 2rem;
  padding: 4px var(--space-xs);
  border-radius: var(--radius-sm);
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

#menu-btn:active {
  scale: 0.95;
}

#menu-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav .theme-toggle {
  width: 40px;
  height: 40px;
  display: flex;
  margin: 2rem 0;
  font-weight: 700;
  color: var(--pri);
  font-size: 1.5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--pri);
  background-color: var(--tri2);
}

nav .theme-toggle i:active {
  rotate: 30deg;
}

nav .theme-toggle:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* SIDEBAR SYSTEM */
#sidebar {
  position: fixed;
  top: 10%;
  left: 1%;
  padding: 1rem;
  width: fit-content;

  border-radius: var(--radius-md);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  outline: 2px solid white;

  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;

  transition:
    transform 0.28s ease,
    opacity 0.28s ease;

  z-index: 1000;
}

#sidebar.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar li {
  margin-bottom: var(--space-sm);
}

#sidebar li:hover {
  background-color: var(--tri1);
  border-radius: var(--radius-md);
}

.view-btn {
  border: none;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 500;
  letter-spacing: 1px;
  padding: var(--space-xs) var(--space-sm);

  color: var(--white);
  cursor: pointer;
  width: 100%;
  text-align: left;
  background-color: transparent;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.view-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}

#menu-btn {
  border: none;
  font-size: 2rem;
  padding: 4px var(--space-xs);
  border-radius: var(--radius-sm);
  background-color: transparent;
  cursor: pointer;
  transition:
    background 0.2s ease,
    transform 0.1s ease;
}

#menu-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#menu-btn:active {
  transform: scale(0.95);
}

/*FULL PAGE OVERLAY SYSTEM*/
.app-view {
  display: none;
  opacity: 0;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--tri2);
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.app-view.active {
  display: block;
  opacity: 1;
  z-index: 9;
}

.section-header {
  width: 80%;
  padding: var(--space-xs);
  margin: 2px auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-header h2 {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  font-weight: 200;
  font-style: italic;
  color: var(--pri);
  letter-spacing: 2px;
  line-height: 2;
  margin-bottom: var(--space-md);
}

.section-header .close-btn {
  color: var(--tri2);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--tri1);
  display: flex;
  gap: 3px;
  justify-content: center;
  text-transform: uppercase;
}

/* TODO CONTAINER  */
.todo-layout {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
}

.task-warning {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--tri2);
}

/*LEFT PANEL*/
.todo-add {
  width: 45%;
  height: fit-content;
  background: var(--sec);
  border-radius: var(--radius-md);
  padding: var(--space-lg);
}

#task-form {
  display: flex;
  color: var(--tri2);
  font-size: clamp(1.5rem, 1vw, 2rem);
  font-weight: 700;
  flex-direction: column;
  gap: var(--space-md);
}

#task-form label {
  display: flex;
  justify-content: space-between;
  gap: var(--space-sm);
  align-items: center;
}

.task-input {
  padding: var(--space-sm) var(--space-md);
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: var(--radius-sm);
  border: none;
  outline: none;
}

#task-form button[type="submit"] {
  padding: var(--space-sm);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: var(--radius-sm);
  background: var(--tri2);
  color: var(--white);
  border: 3px solid var(--tri2);
  cursor: pointer;
  transition: all 0.2s ease;
}

#task-form button[type="submit"]:hover {
  opacity: 0.8;
  border: 3px solid var(--white);
}
#task-form button[type="submit"]:active {
  opacity: 1;
}
/* RIGHT PANEL*/
.todo-list-section {
  width: 65%;
  height: 100%;
  border-radius: var(--radius-md);
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
}

.task-controls {
  display: flex;
  gap: var(--space-sm);
  margin-bottom: var(--space-md);
}

.filter {
  padding: 6px var(--space-sm);
  border-radius: var(--radius-md);
  border: 2px solid var(--white);
  background: transparent;
  color: var(--tri1);
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
}

.filter.active {
  background: var(--tri1);
  color: var(--white);
}

.task-list {
  height: 500px;
  overflow-y: auto;
}

.empty-state {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--tri2);
  opacity: 0.6;
  display: none;
}

/*
   TASK CARD
 */

.task {
  position: relative;
  overflow: hidden;
  background: var(--sec);
  border-radius: var(--radius-md);
  padding: 18px 24px;
  margin-bottom: var(--space-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
}

.task.completed {
  opacity: 0.6;
}

.task-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--tri2);
}

.task-meta {
  font-size: 0.9rem;
  color: var(--tri2);
  opacity: 0.7;
}

.start-btn {
  padding: 6px 14px;
  border-radius: var(--radius-sm);
  border: 2px solid var(--green);
  background: transparent;
  color: var(--green);
  font-weight: 600;
  cursor: pointer;
  z-index: 2;
}

.start-btn.running {
  background: var(--green);
  color: var(--white);
}

/* PROGRESS OVERLAY */
.task-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: var(--green);
  opacity: 0.2;
  transition: width 1s linear;
  z-index: 1;
}

/* DAILY PLANNER */
section#planner-view {
  width: 100%;
  height: 100%;
}

.planner-wrapper {
  width: 95%;
  max-width: 1200px;
  margin: var(--space-lg) auto;
  padding: var(--space-md);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-md);
  /* background-color: var(--sec); */
  border-radius: var(--radius-lg);
}

.planner-wrapper::-webkit-scrollbar {
  display: none;
}

.plan {
  border-radius: var(--radius-sm);
  background-color: var(--tri1);
  padding: var(--space-sm);
}

.plan:active {
  border: 2px solid var(--white);
}

.plan input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--tri2);
  background-color: var(--white);
}

.plan input::placeholder {
  font-size: 2rem;
  color: var(--white);
}

.plan p#time {
  width: fit-content;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--red);
  color: var(--pri);
}

/* QUOTE SECTION */
section#quote-view {
  height: 100%;
  width: 100%;
}

.quote-wrapper {
  width: 80%;
  height: 500px;
  margin: 4vw auto;
  border-radius: var(--radius-lg);
  background: linear-gradient(135deg, var(--sec), var(--pri));

  box-shadow: 0 20px 60px rgba(132, 42, 59, 0.25);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-wrapper:hover {
  transform: scale(1.01);
}

.quote-container {
  width: 100%;
  padding: var(--space-xl);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  position: relative;
}

.quote-container:active {
  scale: 0.95;
}

/* date */
.quote-container > .quote-date {
  font-size: 0.8rem;
  letter-spacing: 2px;
  opacity: 0.6;
  color: var(--tri2);
}

/* title */
.quote-container h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  color: var(--tri2);
  text-decoration: underline var(--tri1) 4px;
}

/* quote text */
.quote-text {
  max-width: 650px;
  margin: 0 auto;
}
.quote-text h3 {
  font-size: clamp(1.3rem, 2.5vw, 2rem);
  font-style: italic;
  font-weight: 500;
  line-height: 2rem;
  color: var(--tri2);
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.quote-text.show h3 {
  opacity: 1;
  transform: translateY(0);
}

.quote-author p {
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--tri1);
  position: relative;
}

.quote-author p::before {
  content: "";
  width: 40px;
  height: 2px;
  background: var(--tri1);
  position: absolute;
  left: -50px;
  top: 50%;
}

/* quote icons */
.quote-container img {
  position: absolute;
  width: 60px;
  opacity: 0.3;
}

img#left-quote-icon {
  top: 10%;
  left: 10%;
  transform: rotate(180deg);
}

#right-quote-icon {
  bottom: 10%;
  right: 10%;
}

/* POMODORO TIMER */
section#pomodoro-view {
  width: 100%;
  height: 80vh;
}
.pomodoro-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md);
  gap: 5vw;
}
.pomodoro-timer {
  width: min(85vw, 380px);
  height: min(85vw, 380px);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  background:
    conic-gradient(var(--green) 0deg, transparent 0deg),
    radial-gradient(circle, var(--tri1), var(--tri2));

  transition: background 0.3s linear;
}

.pomodoro-timer #timer-display {
  font-family: system-ui, sans-serif;
  font-size: clamp(2.5rem, 8vw, 6rem);
  font-weight: 700;
  color: var(--pri);
  white-space: nowrap;
}

.session {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  border: 1px solid var(--white);
  background-color: rgba(0, 255, 0, 0.3);
}

.session h4 {
  padding: 6px 16px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  border-radius: 6px;
  white-space: nowrap;
}

.pomodoro-controls {
  width: 100%;
  max-width: 400px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.pomodoro-controls button {
  padding: var(--space-xs) var(--space-md);
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 14px;
  cursor: pointer;
  border: 2px solid var(--tri1);
  background-color: var(--tri1);
  color: var(--tri2);
}
.pomodoro-controls button:active{
  opacity: 0.5;
  border-color:var(--white);
}
/* HABIT SECTION */
section#habit-view {
  height: 100%;
  min-height: 100vh;
}

.section-header {
  width: 80%;
}

.section-header h2 {
  font-size: clamp(1.8rem, 1.8vw, 1.5rem);
  font-weight: 700;
  margin-top: var(--space-md);
}

.habit-wrapper {
  width: 100%;
  margin: 0 auto;
}

#add-habit-btn {
  align-self: center;
  color: var(--white);
  font-size: clamp(1.2rem, 1.8vw, 1.5rem);
  font-weight: 700;
  letter-spacing: 2px;
  padding: var(--space-sm) var(--space-xs);
  border-radius: var(--radius-sm);
  border: 2px solid var(--white);
  background-color: var(--tri1);
}
#add-habit-btn i {
  margin-right: 5px;
}
.tracker {
  width: 85%;
  margin: 0 auto;
  display: grid;
  gap: 2vw;
  padding: var(--space-md);
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

/* Habit Card */
.tracker-grid {
  background-color: var(--sec);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.tracker-grid h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.5em;
  color: var(--tri2);
}

/* Progress Bar */
.progress-container {
  width: 100%;
  background: var(--white);
  border-radius: 8px;
  overflow: hidden;
  height: 10px;
  margin-bottom: 1rem;
}

.progress {
  height: 100%;
  width: 50%;
  background-color: var(--green);
  transition: width 0.3s ease;
  border-radius: 8px;
}

/* Habit Days Grid */
.habit-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--space-sm);
}

.habit-day {
  width: 100%;
  aspect-ratio: 1 / 1;
  color: var(--tri1);
  background-color: var(--white);
  border: 3px solid var(--white);
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size:clamp(1.8rem, 1vw, 1rem);
  font-weight: 700;
  transition: all 0.2s ease;
}

.habit-day:hover{
  background-color: var(--pri);
}

.habit-day.completed {
  background-color: var(--tri1);
  color: var(--white);
  transform: scale(1.05);
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal[hidden] {
  display: none;
}

.modal-content {
  background: rgba(0, 0, 0, 0.3);
  padding: var(--space-lg);
  border-radius: var(--radius-sm);
  width: 90%;
  max-width: 400px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content input {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--radius-sm);
}

.modal-content button {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modal-content button[type="submit"] {
  background-color: var(--tri1);
  color: var(--white);
}

.modal-content button[type="button"] {
  background-color: var(--red);
}

/* VISION BOARD */
#home-view {
  width: 95%;
  position: relative;
  padding-left: var(--space-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
#home-view.hidden {
  display: none;
}
.section-title {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: var(--space-sm);
  padding-top: 0;
}

#vision-board {
  display: grid;
  flex: 1;
  gap: 10px;
  max-width: 1200px;
  height: fit-content;
  border-radius: 16px;
  grid-auto-rows: 280px;
  grid-template-columns: repeat(4, 1fr);
}

#vision-board .grid-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  color: #000;
  background: #f5f5f5;
}

.grid-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.4s ease;
}
.card--wide {
  grid-column: span 2;
}
.card--tall {
  grid-row: span 2;
}

.card-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
  background: rgba(0, 0, 0, 0.55);
}

.card-content {
  position: absolute;
  opacity: 0;
  z-index: 2;
  left: 20px;
  bottom: 20px;
  color: white;
  transition: opacity 0.4s ease;
}

.card-content h3 {
  font-size: 2.5rem;
}

.grid-card:hover img {
  transform: scale(1.1);
}

.grid-card:hover .card-overlay,
.grid-card:hover .card-content {
  opacity: 1;
}

@media (max-width: 1024px) {
  .todo-layout {
    flex-direction: column;
    height: auto;
  }

  .todo-add,
  .task-list {
    width: 100%;
    height: auto;
  }
  .todo-layout {
    flex-direction: column;
  }

  .todo-add,
  .todo-list-section {
    width: 100%;
  }
  #vision-board {
    grid-template-columns: repeat(3, 1fr);
  }
  .section {
    left: -10%;
  }

  .quote-wrapper {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .todo-layout {
    width: 100%;
    flex-direction: column-reverse;
  }

  .todo-add,
  .todo-list-section {
    width: 100%;
  }

  .todo-add {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: var(--tri1);
    color: var(--white);
  }

  #tags {
    flex-wrap: wrap;
  }

  .task {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .planner-wrapper {
    grid-template-columns: 1fr;
  }

  .quote-wrapper {
    width: 90%;
    height: auto;
  }

  .quote-text h2 {
    font-size: 1.3rem;
    line-height: 1.4;
  }

  .pomodoro-controls {
    flex-direction: column;
    gap: 1rem;
  }

  #vision-board {
    width: 100%;
    padding: 0.5rem;
    grid-template-columns: 100%;
  }
}

@media (max-width: 540px) {
  nav {
    width: 100%;
    gap: 10px;
  }

  .pomodoro-wrapper {
    width: 95%;
  }

  .pomodoro-timer {
    width: 75vw;
    height: 75vw;
  }

  #vision-board {
    width: 100%;
    padding: 0.5rem;
    grid-template-columns: 100%;
  }
}
