@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url("./assets/fonts/AeonikTRIAL-Light.otf");
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url("./assets/fonts/AeonikTRIAL-Regular.otf");
}
@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url("./assets/fonts/AeonikTRIAL-Bold.otf");
}

:root {
  --pri: #f7ebaf;
  --sec: #FFCE99;
  --tri1: #FF9644;
  --tri2: #842A3B;

  --green: #4ad82a;
  --white: whitesmoke;
  --red: red;
  --blue: #00b7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  color: var(--white);
  background-color: var(--tri2);
}

div#main {
  width: 100%;
  height: 100vh;
  position: relative;
}

header {
  width: 100%;
  height: 100px;
  padding: 1rem;
}

nav {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tri1);
  border: 2px solid var(--white);
}

nav h1 {
  font-size: 2rem;
  font-family: 500;
  color: var(--pri);
  margin-left: 1rem;
}

nav .theme {
  width: 40px;
  height: 40px;
  color: var(--pri);
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 2rem 0;
  justify-content: center;
  background-color: var(--tri2);
  border: 2px solid var(--pri);
}

nav .theme i:active {
  rotate: 30deg;
}

main {
  width: 100%;
  height: 320px;
  padding-inline: 2vw;
}
section#Cards {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.card {
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-color: var(--pri);
}

.card h1 {
  font-weight: 700;
  font-size: 2rem;
  white-space: nowrap;
}

.todo {
  background-image: url('./assets/images/To-do-list.avif');
}
.daily {
  background-image: url('./assets/images/daily-planner.avif');
}
.quote {
  background-image: url('./assets/images/motivational-quote.avif');
}
.pomo-doro {
  background-image: url('./assets/images/pomodoro-timer.avif');
}
.goals {
  background-image: url('./assets/images/daily-goals.avif');
}

.full-page {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--tri2);
  overflow: hidden;
}

.page-nav {
  width: 80%;
  padding-inline: 2vw;
  padding-block: 8px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--tri1);
  border: 2px solid var(--white);
}

.page-nav h1 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  color: var(--pri);
}

.page-nav .close-btn {
  color: var(--pri);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--tri2);
  display: flex;
  gap: 2px;
  justify-content: center;
  text-transform: uppercase;
}

.todo-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

#add-todo-box {
  width: 35%;
  height: 100%;
  background-color: var(--sec);
  border-radius: 15px;
  overflow: hidden;
}
#add-todo-box form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  align-items: flex- start;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background-color: var(--sec);
}

input#task-input {
  border: none;
  outline: none;
  padding: 15px 25px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: var(--pri);
}
textarea#task-detail {
  border: none;
  outline: none;
  padding: 10px 20px;
  height: 60%;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: var(--pri);
}
button#add-task-btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: var(--tri2);
  border-radius: 10px;
  color: var(--white);
  align-self: flex-end;
  border: 2px solid var(--tri2);
}

button#add-task-btn:active {
  border: 2px solid var(--pri);
  background-color: var(--sec);
}

.task-list {
  width: 65%;
  height: 100%;
  border-radius: 15px;
  padding-inline: 2rem;
  padding-block: 1.5rem;
  background-color: var(--sec);
  overflow-y: auto;
}

.task-list::-webkit-scrollbar {
  color: var(--tri2);
  border-radius: 25px;
}

.task {
  display: flex;
  gap: 10px;
  padding: 10px 30px;
  margin-bottom: 1rem;
  border-radius: 15px;
  background-color: var(--pri);
  align-items: center;
  justify-content: space-between;
}

.task h2 {
  color: #000;
  font-size: 1.5rem;
}
.task h2 span {
  color: var(--white);
  font-size: 0.85rem;
  font-weight: 700;
  margin-left: 8px;
  margin-bottom: 10px;
  padding-block: 2px;
  padding-inline: 7px;
  border-radius: 25px;
  background-color: var(--red);
}
.task h2 span#false {
  opacity: 0;
}
.task h2 span#true {
  opacity: 1;
}

.task button {
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 6px;
  border: 2px solid var(--green);
  color: var(--green);
  border: 2px solid var(--green);
  background-color: rgba(34, 197, 94, 0.181);
}

.task button:active {
  color: white;
  background-color: var(--green);
  border: 2px solid var(--white);
}

.mark-imp-checkbox {
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
  padding: 0.75rem;
  width: fit-content;
}

.mark-imp-checkbox input[type="checkbox"] {
  scale: 2;
}
.mark-imp-checkbox label {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--tri2);
}

section#planner-page {
  width: 100%;
  height: 100%;
}

#planner-page .day-planner {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--sec);
  padding: 1.5vw;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 0;
}

.day-planner::-webkit-scrollbar {
  display: none;
}

.day-planner .daily-plan {
  width: 45%;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--white);
  background-color: var(--tri2);
}

.daily-plan input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--pri);
  background-color: var(--tri2);
}

.daily-plan input::placeholder {
  font-size: 2rem;
  color: var(--white);
  padding-left: 15px;
}

.daily-plan p#time {
  width: fit-content;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var();
  background-color: var(--red);
  color: var(--pri);
  border-bottom: 2px solidvar(--white);
}

section#quotes-page {
  width: 100%;
  height: 100%;
}

.motivation-container {
  width: 60%;
  height: 70%;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
  background-color: var(--pri);
  border: 3px solid var(--pri);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 2px 5px 35px 10px var(--pri);
}

.motivation-container .motivation-wrapper {
  width: 100%;
  height: 100%;
}

.top-heading {
  width: 100%;
  height: 20%;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--pri);
  background-color: var(--tri1);
}

.middle-quote {
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
  position: relative;
}

.middle-quote h2 {
  font-size: 2.5vw;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
  letter-spacing: 2px;
  color: var(--tri2);
  padding: 0 2rem;
}

img#quote-icon-right {
  opacity: 0.8;
  position: absolute;
  bottom: 5%;
  right: 2%;
}
img#quote-icon-left {
  opacity: 0.8;
  position: absolute;
  top: 5%;
  left: 2%;
  rotate: 180deg;
}

.bottom-author {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
}

.bottom-author p {
  font-size: 2vw;
  font-weight: 500;
  color: var(--tri2);
}

section#pomodoro-timer-page {
  width: 100%;
  height: 100%;
}

#pomodoro-timer-page .session {
  width: 80%;
  height: 10%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pomodoro-timer-page .session h4 {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  border-radius: 5px;
  background-color: var(--green);
}

.timer-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  height: 320px;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid var(--white);
  background-color: var(--tri1);
}
.timer-action-btns {
  position: absolute;
  bottom: 0;
  left: 0;
  gap: 20px;
  width: 100%;
  height: 25%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 3px solid var(--pri);
  background-color: var(--sec);
}

.timer-container button {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--tri2);
  box-shadow: 5px 5px 2px #000;
}
.timer-container button:active {
  scale: 0.9;
  opacity: 0.5;
}
.timer-container h1 {
  font-size: 10rem;
  font-weight: 700;
  padding: 3rem;
  text-align: center;
  color: var(--pri);
}

section#goals-page {
  width: 100%;
  height: 100%;
}
